/*this is just for checking work. delete when page is finished.*/
* {
   outline: 1px solid green !important;
}

p {
	margin-top: 0;
	margin-bottom: 0;
/*	font-size: 18px;*/
}

/*header*/
#title {
	margin: 0;
	text-align: center;
}

#header {
	margin: 5%;
	padding: 2%;
}

#header-text {
	margin-bottom: 0;
	font-size: 20px;
}

/*topic*/
.topic {
	margin: 1% 10% 1% 10%;
	padding-top: .5%;
	padding-bottom: .5%;
}

.topic-name {
	margin: 0;
	text-align: center;
}

/*body*/
div {
	margin: 2% 12% 2% 12%;
	background-color: #B9B8B8;
	padding: .5% 2% .5% 2%;
	border-style: outset;
}

div.gold {
    border-color: darkgoldenrod;
}

div.blue {
    border-color: #2A3CA0;
}

h2 {
    margin-bottom: 0;
}

.first {
	margin-top: .5%;
}

h3 {
    margin-bottom: 0;
}

.list {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #B9B8B8d;
}